/* Estilos básicos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    text-align: center; /* Centraliza o texto de forma geral */
}

/* Estilo do cabeçalho */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

header h1 {
    margin: 0;
}

/* Estilo da área principal de conteúdo */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Estilo para as seções */
section {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

/* Estilo do rodapé */
footer {
    background-color: #ccc;
    color: #333;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
/* Estilo para a imagem de perfil */
.profile-img {
    max-width: 150px; /* Limita o tamanho máximo */
    height: auto;
    border-radius: 50%; /* Transforma a imagem em círculo */
    margin-bottom: 20px;
    border: 3px solid #333; /* Adiciona uma borda */
}